.MainFooter{
    background-color: black;
    color: white;
    padding: 2%;
    font-size: clamp(10px,2vw,15px);
    .Footers{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1%;
    }
}